#dashboard{
    display: flex;
    flex-flow: row wrap;
}

#welcome-user{
    margin-left: 20pt;
}

.new-habit-btn{
    position: absolute;
    top:5pt;
    right:5pt;
    background-color: var(--trans-gold);
    color: white;
    border:2pt solid var(--dark-gold);
}

@media screen and (max-width: 600px) {
    #welcome-user{
        margin-bottom: 50pt;
    }
    .new-habit-btn{
        top:50pt;
        right:0;
    }
}