#navbar{
  display: flex;
  height: 50pt;
  width: 100%;
  background-color: #006D77;
  color: white;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#logo:hover::after{
  transition: linear 10s;
  content: '\ goalie';
}

#ul-nav{
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.li-nav{
  display: block;
}

.link{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.li-nav a.active {
  background-color: #ffffff1c;
  color: white;
  border-radius: 6pt;
}

.li-nav a:hover{
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 6pt;
}

.icon {
  display: none;
  cursor: pointer;
  background-color: #006D77;
  border: none;
}

@media screen and (max-width: 600px) {
    #navbar li:not(:first-child) {
      display: none;
    }
    .icon {
      float: right;
      display: block;
      margin-right: 10pt;
    }
  }
  
@media screen and (max-width: 600px) {
  #navbar.responsive {
    position: relative;
  }

  .responsive .icon{
    margin-right: -10pt;
  }

  .responsive #ul-nav{
    position: absolute;
    flex-flow: column;
    background-color: #006d77;
    padding: 0;
    right: 0;
    top: 5pt;
    margin: 0 auto;
    align-items: center;
    border-radius: 4pt;
  }

  #navbar.responsive li{
    float: none;
    display: block;
    text-align: center;
  }
}