#profile-container{
    position: relative;
    left: 20pt;
    display: flex;
    flex-flow: column;
    border: 2pt solid var(--dark-gold);
    border-radius: 4pt;
    width:fit-content;
    margin-top:20pt;
    padding:10pt;
    background-color: var(--dark-slate);
    text-align: left;
    align-self: flex-start;
}

.profile-form{
    position:absolute;
    top:-40pt;
    left:0;
    width: -webkit-fill-available;
    z-index: 10;
}

.profile-icon{
    color: var(--light-teal);
    cursor: default;
}

.profile-edit{
    position: absolute;
    top: 10pt;
    right: 10pt;
}

#profile-container th{
    color: var(--dark-gold);
}

#habit-list{
    margin-top: 5pt;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #profile-container{
        font-size: .7rem;
    }
    
}