.habits-container{
    display: flex;
    flex-flow: row wrap;
}

.habit-card{
    border: 2pt solid var(--dark-gold);
    border-radius: 4pt;
    width:60%;
    margin-left:20pt;
    padding:10pt;
    position: relative;
    background-color: var(--dark-slate);
    margin-bottom: 10pt;
    text-align: left;
    display: flex;
    flex-flow: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.fa-lock{
    color: var(--trans-gold);
}

.habit-name{
    text-align: left;
    margin-right: 5pt;
    padding-bottom: 5pt;
    border-bottom: 2pt solid var(--light-teal);
    flex: 0 1 80%;
}


.habit-header-container{
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: baseline;
    justify-content: space-between;
}

.habit-check-off{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.log-button{
    height: 30px;
    background-color: transparent;
    color: var(--bright-teal);
    border:none;
    cursor: pointer;
    font-size: 2rem;
    transition:all 1s ease;
}

.fa-circle{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 100%;
}

.fa-check-circle{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 100%;
}

.log-button.checked{
    color:var(--med-gold)
}

.habit-count{
    text-align: left;
}

.habit-highlight{
    color: var(--dark-gold);
}

.habit-description{
    text-align: left;
}

.show-details{
    margin-top: 5pt;
    align-self: center;
    text-align: center;
    background-color: transparent;
    color: var(--trans-gold);
    border: 2pt solid var(--trans-teal);
    border-radius: 4pt;
    cursor: pointer;
}

.show-details:hover{
    color:var(--dark-gold);
    border: 2pt solid var(--light-teal);
}


.edit-button{
    position: absolute;
    bottom: 5px;
    right:5px;
    height: 30px;
    width:30px;
    background-color: var(--trans-dark);
    color: var(--dark-gold);
    border:2pt solid var(--dark-gold);
    border-radius: 4pt;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.edit-button:hover{
    /* background-color: var(--trans-teal); */
    border-color: var(--light-teal);
    color:var(--bright-teal);
}

.tooltip{
    display: flex;
    position: absolute;
    bottom:-23px;
    right:-140px;
    cursor: pointer;
    align-content: center;
    border-radius: 4pt;
    z-index: 4;
}
.tooltip::after{
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    right: 100%;
    top: 40%;
    border-color: transparent var(--trans-grey) transparent transparent;
}
.tooltip ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.tooltip li{
    color:white;
    padding: 0 5px;
    line-height: 1.4rem;
    margin: 5pt;
    border-radius: 4pt;
}
.tooltip li:hover{
    background-color:var(--light-teal);
}
.tooltip li:first-child{
    
    background-color: var(--dark-gold);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}
.tooltip li:nth-child(2){
    background-color: var(--light-teal);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}
.tooltip li:last-child{
    background-color: rgb(98, 17, 17);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

@media screen and (max-width: 600px) {
    .tooltip{
        bottom:-25px;
        right:48px;
        background-color: transparent;
        font-size: 1rem;
    }
    .tooltip::after{
        left: 100%;
        top: 40%;
        border-color: transparent transparent transparent var(--trans-grey);
    }  
    .habit-card{
        font-size: .7rem;
        width:75%;
    }
    .habit-name{
        font-size: 1rem;
    }
    
}
