.habits-container{
    display: flex;
    flex-flow: row wrap;
}

.habit-card{
    border: 2pt solid var(--dark-gold);
    border-radius: 4pt;
    width:60%;
    margin-left:20pt;
    padding:10pt;
    position: relative;
    background-color: var(--dark-slate);
    margin-bottom: 10pt;
    text-align: left;
    display: flex;
    flex-flow: column;
}

.fa-lock{
    color: var(--dark-gold);
}

.habit-name{
    text-align: left;
    padding-bottom: 5pt;
    border-bottom: 2pt solid var(--light-teal);
}

.habit-count{
    text-align: left;
}

.habit-highlight{
    color: var(--dark-gold);
}

.habit-description{
    text-align: left;
}

.show-details{
    align-self: center;
    text-align: center;
    background-color: transparent;
    color: var(--trans-gold);
    border: 2pt solid var(--trans-teal);
    border-radius: 4pt;
    cursor: pointer;
}

.show-details:hover{
    color:var(--dark-gold);
    border: 2pt solid var(--light-teal);
}

.habit-button-container{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    white-space: pre;
    position: absolute;
    top:5pt;
    right:5pt;
}

.edit-button{
    height: 30px;
    width:30px;
    background-color: var(--trans-slate);
    color: white;
    border:2pt solid var(--dark-gold);
    border-radius: 4pt;
    cursor: pointer;
}

.edit-button:hover{
    background-color: var(--trans-gold);
}

.completed{
    width:38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--dark-slate);
    border:none;
    
}

.completed-span{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: conic-gradient(var(--light-teal) 50%, var(--dark-slate) 0 52%, var(--light-teal) 0 98%,var(--dark-slate) 0 100%);
    border: 2pt solid var(--light-teal);
    display: flex;
    align-items: center;
    justify-content: center;
}
