.button{
    background-color: transparent;
    border: 2px solid var(--light-gold);
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    line-height: 1;
    margin: 10px;
    padding: .5em;
    text-align: center;
    color: var(--dark-gold);
    background-image: linear-gradient(45deg, var(--light-gold) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: all 0.2s ease-in-out;
    min-width: 100px;
    font-family: 'Montserrat', sans-serif;
}

.button:hover {
    background-position: 0;
    text-transform: uppercase;
    color: var(--dark-teal);
}

.alt-button{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    line-height: 1;
    padding: .5em;
    text-align: center;
    color: var(--dark-teal);
    background-image: linear-gradient(45deg, var(--trans-teal) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: all 0.2s ease-in-out;
    min-width: 100px;
    font-family: 'Montserrat', sans-serif;
}

.alt-button:hover {
    background-position: 0;
    text-transform: uppercase;
}