.App {
  text-align: center;
}

#main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.form{
  display: flex;
  flex-flow: column wrap;
  width: 60%;
  text-align: left;
  align-items: center;
}