body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #182125;
  color: white;
}

:root{
  --dark-teal:#006D77;
  --med-teal:#338A92;
  --light-teal:#66A7AD;
  --trans-teal:#66a7ad34;

  --dark-gold:#cca43b;
  --med-gold:#d9bb6d;
  --light-gold:#e6d19e;
  --trans-gold:#cca33b73;


  --dark-slate:#28363e;
  --med-slate:#628395;
  --light-slate:#a8bcc7;
  --trans-slate:#28363e6c;

  --trans-dark:#182125f4;

  --grey:#E5E5E5;
  --trans-grey:#e5e5e58f;
}
